pipeline/ELT_Framework.json
{
	"name": "ELT_Framework",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [
					{
						"name": "Current_time",
						"value": "1"
					}
				],
				"typeProperties": {
					"variableName": "FilePattern",
					"value": {
						"value": "FileList",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Appendvariable",
					"value": {
						"value": "@formatDateTime(utcnow(), 'yyyy-dd-MM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@concat(variables('FilePattern'),'_', pipeline().TriggerTime)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT * FROM dbo.FileList",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SqlServerTable1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "onpermtoblob",
						"type": "DatasetReference",
						"parameters": {
							"Tablename": {
								"value": "@variables('FileName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Transformtosql",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"outputfilename": "outputfilterdata.csv",
						"inputstorefilename": {
							"value": "@variables('FileName')",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"FilePattern": {
				"type": "String",
				"defaultValue": "1"
			},
			"Appendvariable": {
				"type": "String",
				"defaultValue": "1"
			},
			"FileName": {
				"type": "String",
				"defaultValue": "f"
			}
		},
		"annotations": []
	}
}